[client]
socket = /var/run/mysqld/mysqld.sock
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqldump]
default-character-set=utf8mb4

[mysqld_safe]
pid-file  = /var/run/mysqld/mysqld.pid
log-error = /var/log/mysql/mysqld.log

[mysqld]
datadir                 = /var/lib/mysql
socket                  = /var/run/mysqld/mysqld.sock
tmpdir                  = /var/tmp
secure-file-priv        = /var/tmp
pid-file                = /var/run/mysqld/mysqld.pid
log-error               = /var/log/mysql/mysqld.log
slow_query_log          = 1
slow_query_log_file     = /var/log/mysql/mysql-slow.log
long_query_time         = 2
local_infile            = ON
log_timestamps          = SYSTEM

user                            = mysql
default-time-zone               = 'Asia/Tokyo'
character-set-server            = utf8mb4
collation-server                = utf8mb4_ja_0900_as_cs
default_password_lifetime       = 0
explicit_defaults_for_timestamp = 1
skip-name-resolve